body {
    padding: 50px;
}

#searchInput {
    border: none;
    font-size: 13px;
}

.search-area {
    float: right;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 200px;
}

.search__icon {
    width: 20px;
}

#mapContainer {
    min-width: 310px;
    height: 700px;
    margin: 0 auto;
    overflow: visible !important;
}

#countryPopup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    right: 10%;
    top: 40%;
    z-index: 1;
    max-width: 300px;
    transform: translateX(100%);
    animation: slideIn 0.3s ease-in-out forwards;
    flex-direction: column;
}

#mapPopup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    right: 0;
    top: 30%;
    width: 500px;
    height: 500px;
    z-index: 5;
    transform: translateX(100%);
    animation: slideIn 0.3s ease-in-out forwards;
}

#mapPopup>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(210, 207, 207);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

#countryPopup h3 {
    padding-bottom: 10px;
}

#mapPopup h3 {
    padding-bottom: 5px;
    font-size: 25px;
    text-transform: uppercase;
}

#mapPopupClose {
    cursor: pointer;
    font-size: 45px;
    color: rgb(210, 207, 207);
}

#mapPopupClose:hover {
    color: rgb(108, 105, 105);
}

.countryID {
    font-size: 15px;
    color: #716d6d;
}

.subregion {
    border-bottom: 1px solid rgb(210, 207, 207);
    padding-bottom: 30px;
}

.country-info h3 {
    margin-left: 10px;
}

.flag-img {
    width: 50px;
}

.flag-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(210, 207, 207);
}

.country-info {
    display: block;
}

#countrySelect {
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    margin-right: 10px;
}

#countrySelect:hover,
#countrySelect:focus {
    border-color: #aaa;
}

.highcharts-point:hover {
    fill: #008080 !important; 
}